/* html selectors */
img {
    max-height: 50px;
}

/*class selectors*/
.heading {
    font-size: 15pt;
}

.margin-top {
    margin-top: 10px;
}

.pad-left-right {
    padding-left: 1rem;
    padding-right: 1rem;
}